<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />

    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/Chart.js"></script>
    <script src="../public/js/adminView.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/adminView.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <title>Administrator</title>
</head>

<body data-bs-theme="light" onload="init()">
    <div class="dashBoard text-center align-items-center justify-content-center">
        <div class="topNavBar align-items-center justify-content-center">
            <p>Logged in as ADMINISTRATOR</p>
            <p>&#198; Stainless Steel, Glass and Aluminum</p>
            <button class="btn btn1s" onclick="logout()">Logout</button>
          </div>
        <button class="btn" onclick="goDashboard()">Dashboard</button>
        <button class="btn" onclick="goSales()">Sales Transaction</button>
        <button class="btn" onclick="goSalesReport()">Sales Report</button>
        <button class="btn" onclick="goInventory()">Inventory</button>
        <h1>DASHBOARD</h1>
        <div class="tableCont text-center align-items-center justify-content-center">
            <h1>STATISTICS</h1>
        </div>
    </div>
    <div class="conteyner">
        <div class="charty">
            <canvas id="myChart"></canvas>
        </div>
        <div class="tableCont mb-5 text-center align-items-center justify-content-center">
            <!--TRANSACTIONS-->
            <table class="table taboll text-center align-items-center justify-content-center">
                <thead>
                    <tr id="tableHead">
                        <th>Item Id</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Unite Of Measurement</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr id="tableBody">
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td><button class="btn">EDIT</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>

</html>