<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/adminView.css" />
        <script src="../public/js/bootstrap.bundle.min.js"></script>
        <script src="../public/js/adminView.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrator</title>
    </head>
    <body data-bs-theme="dark">
        <div class="dashBoard text-center align-items-center justify-content-center">
            <button class="btn" onclick="goSales()">Sales History</button>
            <button class="btn" onclick="goRecords()">Record Transactions</button>
            <button class="btn" onclick="goInventory()">Inventory</button>
            <button class="btn" onclick="goDashboard()">Dashboard</button>
            <h1>DASHBOARD</h1>
            <div class="tableCont text-center align-items-center justify-content-center">
                <!--STATS-->
                <table class="table text-center align-items-center justify-content-center">
                    <h2>Sales</h2>
                    <tr>
                        <th>Daily</th>
                        <th>Weekly</th>
                        <th>Yearly</th>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                </table>
<!--TRANSACTIONS-->
                <table class="table text-center align-items-center justify-content-center">
                    <h1>Transactions</h1>
                    <tr>
                        <th>Time</th>
                        <th>Product</th>
                        <th>Variant</th>
                        <th>Quantity</th>
                        <th>Price per Item</th>
                        <th>Total Price</th>
                        <th>Discount</th>
                        <th>Shipping Fee</th>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                </table>
<!--INVENTORY-->
                <table class="table text-center align-items-center justify-content-center">
                    <h1>Inventory</h1>
                    <tr>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>