<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/secretary.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/adminView.css" />

    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/secretary.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <title>Administrator</title>
</head>

<body data-bs-theme="light" onload="init()">
    <div class="containerDiv text-center justify-content-center align-items-center">
        <h1>Inventory</h1>
        <div class="text-center col m-1 mt-4 mb-4">
            <div class="text-center justify-content-center align-items-center row m-1">
                <span class="col-2" name="toDark">Search</span><input id="searchText" onchange="formatTable()"
                    class="bg-white text-dark col form-control" placeholder="Search Item">
                <div class="col-2">
                    <select id="searchField" class="col-2 form-select" name="toDark">
                        <option> Test</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="checkAwt">
            <button class="btn btn-primary" onclick="toCheckOut()">Check Out</button>
        </div>
        
        <div class="itemListCont" id="itemList">
        </div>

        <div class="orderedItems">
            <% if (webData && webData.length > 0) { %>
                <% webData.forEach(function(item) { %>
                    <div class="item">
                        <h2><%= item.item.name %></h2>
                        <p>Type: <%= item.type %></p>
                        <p>Quantity: <%= item.quantity %></p>
                        <p>Price: <%= item.price %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No items found.</p>
            <% } %>
        </div>
    </div>

    <div class="contDivCart" id="orderList">

    </div>

    <div id="addModal" class="modal fade align-items-center justify-content-center" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header w-100">
                    <div class="row align-items-center justify-content-center w-100">
                        <h2 class="h2mod modal-title text-center w-100" id="itemName">ADD SALES</h2>
                    </div>
                </div>
                <div class="modal-body text-center align-items-center justify-content-center">
                    <div class="typeSelector">
                        <div class="202Div">
                            <label for="html" id="202Stock">202</label>
                            <input type="radio" id="202id" name="fav_language" value="202">
                            
                        </div>
                        <div class="304Div">
                            <label for="css" id="304Stock">304</label>
                            <input type="radio" id="304id" name="fav_language" value="304">
                        </div>
                    </div>
                    <input id="orderCount" class="inputOrder text-center  w-25" type="number" value="0">
                    <div class="modal-footer align-items-center justify-content-center">
                        <button class="btn btn-primary" onclick="cancelAdd()">Cancel</button>
                        <button class="btn btn-primary" onclick="saveAdd()">Save Sale</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>