*{
    margin: auto;
    box-sizing: border-box;
}

label{
    margin-bottom: 5%;
}


#myBtn{
    background-color: aqua;
}

#myChart{
    width: 60%;
}

.addMudal{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 5%;
}

#editModal{

}

.editMudal{

}