.itemListCont{
    width: 60%;
    overflow: scroll;
    height: 100%;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    row-gap: 1.5;
    column-gap: 2%;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 13px;
}

.contDivCart{
    width: 35%;
    overflow: scroll;
}