.itemListCont{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    row-gap: 10%;
    column-gap: 2%;
    margin: 0 auto;
    font-size: 1rem;
}

.orderedItems{
    width: 80%;
    font-size: 1rem;
}

.conteyner{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 1%;
}

.containerDiv{
    margin-left: 2%;
}

.itemBtns{

    width: 100%;
    font-weight: bold;
    height: fit-content;
}

.typeSelector{
    width: 100%;
}

.admudal{
    margin: 0%;
}

.tabol{
    width: 100%;
    font-size: 1rem;
    margin: 0%;
}

tr{
    border-bottom: 1px solid black;
}