.itemListCont{
    width: 100%;
    height: fit-content;
    overflow: scroll;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    row-gap: 1.5;
    column-gap: 2%;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
}

.orderedItems{
    width: 100%;
    overflow: scroll;
    margin-right: 10%;
}

.conteyner{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 1%;
}

.item{
    margin-right: 2rem;
}