*{
    margin: auto;
    box-sizing: border-box;
}

.loginMenu{
    max-width: 100%;
    margin: auto;
    margin-top: 15%;
}

.form2 input{
    width: 15%;
}

.labels{
    font-size: 120%;
}

.btnLogin{
    font-size: 150%;
}