<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/mainPage.css">
    <link rel="stylesheet" type="text/css" href="../css/checkout.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/modalFood.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>BITTTECLUB</title>
    <title>Check Out</title>
</head>
<body>
    <div class="tapTop">
        <div class="spanTop d-flex">
            <span class="text-center justify-content-center align-items-center">
                <table class="text-center justify-content-center align-items-center">
                    <tr>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/homeBtn.png"></button></a></th>
                        <th><img src="../images/Bittteclub LongBlack.png"></img></th>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/cart.png"></button></a></button></th>
                    </tr>
                </table>
            </span>
        </div>
    </div>

    <div class="checkOutList text-center justify-content-center align-items-center mt-4">
        <h1>Shopping Cart</h1>
        <table class="table">
            <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Variation</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>100</td>
                <td>Lemongrass Pork</td>
                <td>Full</td>
                <td>290,000</td>
                <td>Edit / Delete</td>
            </tr>
        </table>
        <button class="btn btn-primary">Proceed to Check Out</button>
    </div>
    
</body>
</html>