<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/mainPage.css">
    <link rel="stylesheet" type="text/css" href="../css/menuList.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/modalFood.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>BITTTECLUB</title>
</head>

<body>
    <!--Top header-->
    <div class="tapTop">
        <div class="spanTop d-flex">
            <span class="text-center justify-content-center align-items-center">
                <table class="text-center justify-content-center align-items-center">
                    <tr>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/homeBtn.png"></button></a></th>
                        <th><img src="../images/Bittteclub LongBlack.png"></img></th>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/cart.png"></button></a></button></th>
                    </tr>
                </table>
            </span>
        </div>
    </div>

    <!--Menu Body-->
    <div class="menuChoice mt-4">
        <!--Bhan Mi Button-->
        <a href="menuList.html">
            <button class="menuHolderBhanMi text-center">
                <div>
                    <img src="../images/logo.png">
                    <h1>Bahn Mi Kitchen</h1>
                    <h4>Banh Mi, Coffee, Tea</h4>
                </div>
            </button>
        </a>
        <!--Other Shops-->
        <a href="menuList.html">
            <button class="menuHolder text-center m-4 ">
                <div>
                    <img src="../images/logo.png">
                    <h1>Shop 2</h1>
                    <h4>Shop 2</h4>
                </div>
            </button>
        </a>
        <a href="menuList.html">
            <button class="menuHolder text-center m-4 ">
                <div>
                    <img src="../images/logo.png">
                    <h1>Shop 3</h1>
                    <h4>Shop 3</h4>
                </div>
            </button>
        </a>
        <a href="menuList.html">
            <button class="menuHolder text-center m-4 ">
                <div>
                    <img src="../images/logo.png">
                    <h1>Shop 4</h1>
                    <h4>Shop 4</h4>
                </div>
            </button>
        </a>

    </div>

</body>

</html>