<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/mainPage.css">
    <link rel="stylesheet" type="text/css" href="../css/menuList.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/modalFood.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>BITTTECLUB</title>
</head>

<body>
    <!--Top header-->
    <div class="tapTop">
        <div class="spanTop d-flex">
            <span class="text-center justify-content-center align-items-center">
                <table>
                    <tr>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/homeBtn.png"></button></a></th>
                        <th><img src="../images/Bittteclub LongBlack.png"></img></th>
                        <th><a class="topBtn" href="index.html"><button href><img
                                        src="../images/cart.png"></button></a></button></th>
                    </tr>
                </table>

            </span>
        </div>
    </div>

    <!--Menu Body-->
    <div class="menuListLayout mt-4 text-center justify-content-center align-items-center">
        <div class="topLogo">
            <img src="../images/logo.png">
            <h2>Insert Shop Name</h2>
        </div>

        <!--Food list (if meron)-->
        <div class="foodList mt-2">
            <h2 style="text-align: left;">Food / Snack</h2>
            <button type="button" class="btnFood btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../images/logo.png">
                <h2>Food Title</h2>
            </button>
            <button type="button" class="btnFood btn btn-primary" onclick="showModalForm()">
                <img src="../images/logo.png">
                <h2>Food Title 2</h2>
            </button>
        </div>

        <!--Drink list (if Meron)-->
        <div class="foodList mt-2">

        </div>
    </div>

    <!--All Modal-->
    <div class="allModal">
        <!-- Modal (Junior/Full) -->

        <div class="modal fade text-center justify-content-center align-items-center" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modalCase modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Order</h5>
                    </div>
                    <div class="foodOrder modal-body">
                        <img src="../images/logo.png">
                        <p>Item Name</p>
                        <p>Item Description</p>
                        <input type="radio" id="option1" name="fav_language" value="HTML">
                        <label for="option1">Junior</label>
                        <input type="radio" id="option2" name="fav_language" value="CSS">
                        <label for="option2">Full</label><br>
                        <button id="deCountOrder" class="amBtn btn btn-primary" onclick="minOrder()"> - </button>
                        <input disabled id="orderCount" class="inputOrder w-25" type="number" value="0">
                        <button id="CountOrder" class="amBtn btn btn-primary" onclick="addOrder()"> + </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="resetOrderForm()">Cancel</button>
                        <button type="button" class="btn btn-primary">Save Order</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>