* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: robot;
    letter-spacing: 2px;
}

a:visited, a:active{
    text-decoration: none;
    color: transparent;
    background-color: transparent;
}


body {

    overscroll-behavior: none;
}

.spanTop {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: rgb(198, 58, 58);
    border: 1px solid;
    border-color: rgba(199, 1, 1, 0);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 300%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-shadow: 0px 10px 10px;
    width: 100%;
    filter: saturate(1);
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

.spanTop img {
    width: 50%;
    margin: 0;
}

.topBtn button{
    width: 50%;
    margin: 0;
    background-color: transparent;
    border: 0 solid;
}

.topBtn img{
    width: 100%;
    padding-bottom: 5px;
}


.menuChoice {
    color: rgb(10, 48, 48);
    width: 95%;
    justify-content:left;
    align-items: start;
    text-align: center;
}

.menuChoice h1 {
    font-family: robotBold;
    font-weight: 500;
    font-size-adjust: inherit;
}

.menuChoice h4 {
    font-family: robot;
    font-size-adjust: inherit;
}

.menuChoice a{
    text-decoration: none;
}

.menuHolderBhanMi{
    width: 100%;
    height: inherit;
    background-color: rgb(255, 209, 243);
    border-radius: 13px;
    border: transparent;
    background-image: url("../images/s3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.menuHolderBhanMi img {
    width: 15%;
    align-self: center;
    margin-top: 1%;
}

.menuHolder {
    width: 20%;
    height: inherit;
    background-color: rgb(255, 209, 243);
    border-radius: 13px;
    border: transparent;
}

.menuHolder img {
    width: 55%;
    align-self: center;
    margin-top: 5%;
}